include navbar-fluid
.container-fluid#todoapp
  .row-fluid
    .span6
      .hero-unit
        h1 Todos
    .span6
      #todos
        table.table.table-striped.table-condensed#todo-list
      #create-todo
        input.span6#new-todo(placeholder='What needs to be done?', type='text')
      #todo-stats
    
// Templates

script(type='text/html', id='item_template')
  td.span1
    | <input class="check" type="checkbox" {{#done}}checked="checked"{{/done}} />
    label
  td.span9.todo(class="{{#done}}done{{/done}}")
    .display
      .todo-text
    .edit
      input.todo-input(type='text')
  td.span1
    a.close.todo-destroy &times;

script(type='text/html', id='stats_template')
  .row-fluid
    | {{#done}}
    .todo-clear.span6
      a(href='#') Clear 
        span.number-done {{done}} 
        | completed 
        span.word-done {{done_word}} 
    | {{/done}}
    | {{#total}}
    .todo-count.span6
      span.number {{remaining}} 
      span.word {{total_word}} 
      | left.
    | {{/total}}