include navbar-fluid
.container-fluid#todoapp
  .row-fluid
    .span12
      .hero-unit
        .title
          h1 Todos
  .row-fluid
    .span3
      #create-todo
        input#new-todo(placeholder='What needs to be done?', type='text')
        span.ui-tooltip-top(style='display:none') Press Enter to save this task
    .span9
      #todos
        #todo-list
      #todo-stats
    
// Templates

script(type='text/html', id='item_template')
  .row-fluid.todo(class="{{#done}}done{{/done}}")
    .display
      .span1
        | <input class="check" type="checkbox" {{#done}}checked="checked"{{/done}} />
      .span7
        .todo-text
      .span1
        span.todo-destroy

    .edit
      input.todo-input(type='text')

script(type='text/html', id='stats_template')
  | {{#total}}
  span.todo-count
    span.number {{remaining}} 
    span.word {{total_word}} 
    | left.
  | {{/total}}
  | {{#done}}
  span.todo-clear
    a(href='#') Clear 
      span.number-done {{done}} 
      | completed 
      span.word-done {{done_word}} 
  | {{/done}}
