!= css('lib/todos.css')

include navbar-fluid
.container-fluid
  .row-fluid
    
    #todoapp
      .title
        h1 Todos
      .content
        #create-todo
          input#new-todo(placeholder='What needs to be done?', type='text')
          span.ui-tooltip-top(style='display:none') Press Enter to save this task
        #todos
          ul#todo-list
        #todo-stats
    
    ul#instructions
      li Double-click to edit a todo.
    
    #credits Created by
      br
      a(href='http://jgn.me/') J&eacute;r&ocirc;me Gravel-Niquet
    
// Templates

script(type='text/template', id='item-template')
  .todo(class="<%= done ? 'done' : '' %>")
    .display
      input.check(type='checkbox', checked="<%= done ? 'checked : '' %>")
      .todo-text
      span.todo-destroy

    .edit
      input.todo-input(type='text')

script(type='text/template', id='stats-template')
  | <% if (total) { %>
  span.todo-count
    span.number <%= remaining %>
    span.word <%= remaining == 1 ? 'item' : 'items' %>
    | left.
  | <% } %>
  | <% if (done) { %>
  span.todo-clear
    a(href='#') Clear 
      span.number-done <%= done %>
      | completed
      span.word-done <%= done == 1 ? 'item' : 'items' %>
  | <% } %>
