.row.display
  .two.columns.push-ten.phone-two
    | Boil
  .ten.columns.pull-two.phone-two
    | This
.row.display
  .four.columns.centered
    a(href='http://foundation.zurb.com/docs/')
      .blue.large.radius.button Foundation Docs »