.container
  section
    .carousel#hero-carousel
      .carousel-inner
        .item.active
          img(src='//placekitten.com/g/1170/400')
          .carousel-caption
            h4 First Thumbnail label
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .item
          img(src='//placekitten.com/g/1170/399')
          .carousel-caption
            h4 Second Thumbnail label
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      a.carousel-control.left(href='#hero-carousel', data-slide='prev') &lsaquo;
      a.carousel-control.right(href='#hero-carousel', data-slide='next') &rsaquo;
  section
    blockquote
      p It’s just brilliant. I will recommend Ooooh to everyone I know!
      small A. Girl
    blockquote
      p I’m really glad these guys got Ooooh out there. I’ve bought it and now think perhaps I should have invested!
      small A. Dinosaur
  section
    .row
      .span4
        img(src='//placekitten.com/g/370/199')
        .well
          h2 Heading
          p 
            b Donec id elit non mi porta gravida at eget metus. 
            | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details &raquo;
      .span4
        img(src='//placekitten.com/g/370/200')
        .well
          h2 Heading
          p 
            b Donec id elit non mi porta gravida at eget metus. 
            | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details &raquo;
      .span4
        img(src='//placekitten.com/g/370/201')
        .well
          h2 Heading
          p 
            b Donec id elit non mi porta gravida at eget metus. 
            | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details &raquo;