!!!
html
  head
    title Boiler | A boilerplate ...
    != css('lib/bootstrap.min.css')
    != css('style')
  body
    != body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    != js('lib/bootstrap.min.js')
    != js('main')