<!doctype html>
html
  head
    include head
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          include navigation
    .container
      != body
      footer
        p &copy; Company 2012
    include body-end