<!doctype html>
html
  head
    title=title
    meta(name='description', content=description)
    != css('lib/bootstrap.min.css')
    != css('style')
  body
    != body
    script(src='/nowjs/now.js')
    != js('main')
    != js('lib/bootstrap.min.js')