<!doctype html>
html
  head
    include head
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          include navigation
    .container-fluid
      != body
    include body-end