<!doctype html>
html
  head
    title=title
    meta(name='description', content=description)
    link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
    != css('style')
  body
    != body
    != js('main')