a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
 span.icon-bar
 span.icon-bar
 span.icon-bar
a(href='/').brand Hardboiled
.nav-collapse
  - if (everyauth.loggedIn)
    ul.nav
      li.active
        a(href='/dashboard') Dashboard
    ul.nav.pull-right
      li
        p.navbar-text Logged in as 
          - if (everyauth.twitter)
            ='@'+everyauth.twitter.user.screen_name
          - else if (everyauth.user.email)
            = everyauth.user.email
          - else if (everyauth.user.name)
            = everyauth.user.name
      li
        a(href='/logout') Logout
  - else
    ul.nav
      li.active
        a(href='/') Home
      li
        a(href='/demo') Demo
    ul.nav.pull-right.pills
      li.dropdown#login-menu
        a.dropdown-toggle(href='#login-menu', data-toggle='dropdown') Login 
          b.caret
        ul.dropdown-menu
          li
            a(href='/auth/facebook')
              i.icon-social-facebook
              |  facebook
          li
            a(href='/auth/twitter')
              i.icon-social-twitter
              |  twitter
          li
            a(href='/auth/github')
              i.icon-social-github
              |  github
          li
            a(href='/auth/google')
              i.icon-social-google
              |  google
          li
            a(href='/auth/linkedin')
              i.icon-social-linkedin
              |  linkedin