@import "lib/bootstrap.min.css"
@import "nib"

// Sections
section
  padding-top 60px

// TODO App hiding/showing and crossing tasks through
#todoapp
  .edit
    display none
  .editing .edit
    display block
  .display
    display block
  .editing .display
    display none
  .done .todo-text
    text-decoration line-through

// Body padding for fixed navigation on Bootstrap
@media (min-width:981px)
  body
    padding-top 40px

// SubtlePatterns.com background
body
  background url('/img/subtle-patterns/pinstripe.png')

// Glyphicons.com social icons
[class^="icon-social-"]
  height 14px
  width 14px
  background-size 14px 14px
.icon-social-facebook
  background url(/img/social-icons/glyphicons_320_facebook.png)
.icon-social-twitter
  background url(/img/social-icons/glyphicons_322_twitter.png)
.icon-social-evernote
  background url(/img/social-icons/glyphicons_331_evernote.png)
.icon-social-linkedin
  background url(/img/social-icons/glyphicons_337_linked_in.png)
.icon-social-github
  background url(/img/social-icons/glyphicons_341_github.png)
.icon-social-google
  background url(/img/social-icons/glyphicons_346_google_plus.png)
.icon-social-readability
  background url(/img/social-icons/glyphicons_349_readability.png)